In [2]:
import os
import random
import pyreadr
import pandas as pd
import numpy as np

import smote_variants as sv
from sklearn.model_selection import train_test_split

from Dataset_Construction import Balance_Ratio, Bad_Type_def, TypeOfBad
from Sampling import label_divide, generate_set, before_under
from AdaClassifier import runall_AdaBoostC, bad_plot, line_chart, train_set, AdaBoostC, cf_matrix

os.chdir('C:/Users/user/Desktop/Darui_R08621110') 
os.getcwd()

'C:\\Users\\user\\Desktop\\Darui_R08621110'

### Pre-test imbalanced data : rabalone & abalone

In [3]:
with open('C:/Users/Darui Yen/OneDrive/桌面/0629_aging/abalone.names') as f:
    print(f.read())

1. Title of Database: Abalone data

2. Sources:

   (a) Original owners of database:
	Marine Resources Division
	Marine Research Laboratories - Taroona
	Department of Primary Industry and Fisheries, Tasmania
	GPO Box 619F, Hobart, Tasmania 7001, Australia
	(contact: Warwick Nash +61 02 277277, wnash@dpi.tas.gov.au)

   (b) Donor of database:
	Sam Waugh (Sam.Waugh@cs.utas.edu.au)
	Department of Computer Science, University of Tasmania
	GPO Box 252C, Hobart, Tasmania 7001, Australia

   (c) Date received: December 1995


3. Past Usage:

   Sam Waugh (1995) "Extending and benchmarking Cascade-Correlation", PhD
   thesis, Computer Science Department, University of Tasmania.

   -- Test set performance (final 1044 examples, first 3133 used for training):
	24.86% Cascade-Correlation (no hidden nodes)
	26.25% Cascade-Correlation (5 hidden nodes)
	21.5%  C4.5
	 0.0%  Linear Discriminate Analysis
	 3.57% k=5 Nearest Neighbour
      (Problem encoded as a classification task)

   -- Data set samples are highly overlapped.  Further information is required
	to separate completely using affine combinations.  Other restrictions
	to data set examined.

   David Clark, Zoltan Schreter, Anthony Adams "A Quantitative Comparison of
   Dystal and Backpropagation", submitted to the Australian Conference on
   Neural Networks (ACNN'96). Data set treated as a 3-category classification
   problem (grouping ring classes 1-8, 9 and 10, and 11 on).

   -- Test set performance (3133 training, 1044 testing as above):
	64%    Backprop
	55%    Dystal
   -- Previous work (Waugh, 1995) on same data set:
	61.40% Cascade-Correlation (no hidden nodes)
	65.61% Cascade-Correlation (5 hidden nodes)
	59.2%  C4.5
	32.57% Linear Discriminate Analysis
	62.46% k=5 Nearest Neighbour


4. Relevant Information Paragraph:

   Predicting the age of abalone from physical measurements.  The age of
   abalone is determined by cutting the shell through the cone, staining it,
   and counting the number of rings through a microscope -- a boring and
   time-consuming task.  Other measurements, which are easier to obtain, are
   used to predict the age.  Further information, such as weather patterns
   and location (hence food availability) may be required to solve the problem.

   From the original data examples with missing values were removed (the
   majority having the predicted value missing), and the ranges of the
   continuous values have been scaled for use with an ANN (by dividing by 200).

   Data comes from an original (non-machine-learning) study:

	Warwick J Nash, Tracy L Sellers, Simon R Talbot, Andrew J Cawthorn and
	Wes B Ford (1994) "The Population Biology of Abalone (_Haliotis_
	species) in Tasmania. I. Blacklip Abalone (_H. rubra_) from the North
	Coast and Islands of Bass Strait", Sea Fisheries Division, Technical
	Report No. 48 (ISSN 1034-3288)


5. Number of Instances: 4177


6. Number of Attributes: 8


7. Attribute information:

   Given is the attribute name, attribute type, the measurement unit and a
   brief description.  The number of rings is the value to predict: either
   as a continuous value or as a classification problem.

	Name		Data Type	Meas.	Description
	----		---------	-----	-----------
	Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

   Statistics for numeric domains:

		Length	Diam	Height	Whole	Shucked	Viscera	Shell	Rings
	Min	0.075	0.055	0.000	0.002	0.001	0.001	0.002	    1
	Max	0.815	0.650	1.130	2.826	1.488	0.760	1.005	   29
	Mean	0.524	0.408	0.140	0.829	0.359	0.181	0.239	9.934
	SD	0.120	0.099	0.042	0.490	0.222	0.110	0.139	3.224
	Correl	0.557	0.575	0.557	0.540	0.421	0.504	0.628	  1.0


8. Missing Attribute Values: None


9. Class Distribution:

	Class	Examples
	-----	--------
	1	1
	2	1
	3	15
	4	57
	5	115
	6	259
	7	391
	8	568
	9	689
	10	634
	11	487
	12	267
	13	203
	14	126
	15	103
	16	67
	17	58
	18	42
	19	32
	20	26
	21	14
	22	6
	23	9
	24	2
	25	1
	26	1
	27	2
	29	1
	-----	----
	Total	4177

In [4]:
rabalone = pyreadr.read_r('C:/Users/Darui Yen/OneDrive/桌面/0629_aging/abalone.rda') 
rabalone = rabalone['abalone']

strip_class = []
for i in range(len(rabalone)):
    strip_class.append(rabalone.Class.values[i].strip())
rabalone['Class'] = strip_class

rabalone = rabalone.replace(to_replace = ['negative', 'positive'], value = [0, 1])

rabalone.head()

(731, 8)

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Class
0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,0
1,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.165,0
2,0.450,0.320,0.100,0.3810,0.1705,0.0750,0.115,0
3,0.550,0.415,0.135,0.7635,0.3180,0.2100,0.200,0
4,0.665,0.525,0.165,1.3380,0.5515,0.3575,0.350,1

In [2]:
# data from UCI machine learning repository
abalone = pd.read_csv('C:/Users/Darui Yen/OneDrive/桌面/0629_aging/abalone.data', sep = ',', header = None)
abalone.columns = ['sex', 'length', 'diameter', 'height', 'whole weight', 'shucked weight', 'viscera weight', 'shell weight', \
                  'rings']

#classification by rings level
abalone = pd.get_dummies(abalone, columns = ['sex'])

data_num = abalone.shape[0]
cate1 = []
cate2 = []
for i in range(data_num):
    if abalone['rings'][i] < 7:
        cate1.append('low')
        cate2.append('young')
    elif abalone['rings'][i] < 9:
        cate1.append("low")
        cate2.append('old')
    elif abalone['rings'][i] > 10:
        cate1.append("high")
        cate2.append('old')
    else:
        cate1.append("medium")
        cate2.append('old')

abalone['levels'] = cate1
abalone['age'] = cate2
abalone = abalone.replace(to_replace = ['old', 'young'], value = [0, 1])

abalone.head()

(4177, 13)

,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings,sex_F,sex_I,sex_M,levels,age
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,0,0,1,high,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,0,0,1,low,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,1,0,0,medium,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,0,0,1,medium,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0,1,0,low,0

### Imbalance ratio

In [16]:
major1 = sum(x == 0 for x in rabalone['Class'])
minor1 = sum(x == 1 for x in rabalone['Class'])
imratio1 = major1/minor1
print('rabalone:\n', 'Imbalance Ratio:', imratio1, '\n')

major2 = sum(x == 0 for x in abalone['age'])
minor2 = sum(x == 1 for x in abalone['age'])
imratio2 = major2/minor2
print('abalone:\n', abalone.groupby('rings').count().iloc[:,0])
print('\n', abalone.groupby ('levels').count().iloc[:,0])
print('\n', abalone.groupby('age').count().iloc[:,0], '\nImbalance Ratio:', imratio2)

rabalone:
 Imbalance Ratio: 16.404761904761905

abalone:
 rings
1       1
2       1
3      15
4      57
5     115
6     259
7     391
8     568
9     689
10    634
11    487
12    267
13    203
14    126
15    103
16     67
17     58
18     42
19     32
20     26
21     14
22      6
23      9
24      2
25      1
26      1
27      2
29      1
Name: length, dtype: int64

 levels
high      1447
low       1407
medium    1323
Name: length, dtype: int64

 age
0    3729
1     448
Name: length, dtype: int64
Imbalance Ratio: 8.323660714285714

### Oversampling & Undersampling

In [3]:
X, Y = before_under(rabalone, 'Class')
train1_x, test1_x, train1_y, test1_y = train_test_split(X, Y, test_size = 0.25, random_state = None)
train1 = pd.concat([train1_x, train1_y], axis = 1).rename(columns = {0:'Class'})
test1 = pd.concat([test1_x, test1_y], axis = 1).rename(columns = {0:'Class'})

print('Dimension:', '\ntrain1 x:', train1_x.shape, '\ntest1 x:', test1_x.shape)

dataset_0 = generate_set(train1, 'NoSMOTE', None, 0, 'Class')
dataset_1 = generate_set(train1, 'SMOTE', None, 1, 'Class')
dataset_2 = generate_set(train1, 'MSMOTE', None, 2, 'Class')
dataset_3 = generate_set(train1, 'ROSE', None, 3, 'Class')
dataset_4 = generate_set(train1, 'SMOTE', 'random', 4, 'Class')
dataset_5 = generate_set(train1, 'MSMOTE', 'random', 5, 'Class')
dataset_6 = generate_set(train1, 'ROSE', 'random', 6, 'Class')

data_dict = {}
for i in range(7):
    data_dict[f'set{i}'] = pd.read_csv(f'dataset_{i}.csv').iloc[:, 1:]
print('\n', '7 datasets are loaded.')

NameError: name 'rabalone' is not defined

In [4]:
train2 = abalone.iloc[0:3132, :].drop(columns = ['rings', 'levels'])
test2 = abalone.iloc[3133:, :].drop(columns = ['rings', 'levels'])

dataset_0 = generate_set(train2, 'NoSMOTE', None, 0, 'age')
dataset_0 = generate_set(train2, 'SMOTE', None, 1, 'age')
dataset_0 = generate_set(train2, 'MSMOTE', None, 2, 'age')
dataset_0 = generate_set(train2, 'ROSE', None, 3, 'age')
dataset_0 = generate_set(train2, 'SMOTE', 'random', 4, 'age')
dataset_0 = generate_set(train2, 'MSMOTE', 'random', 5, 'age')
dataset_0 = generate_set(train2, 'ROSE', 'random', 6, 'age')

data_dict = {}
for i in range(7):
    data_dict[f'set{i}'] = pd.read_csv(f'dataset_{i}.csv').iloc[:, 1:]
print('\n', '7 datasets are loaded.')

print('Dimension:', '\ntrain2 x:', train2.shape, '\ntest2 x:', test2.shape)

2021-06-29 00:05:47,281:INFO:NoSMOTE: Running sampling via ('NoSMOTE', '{}')
2021-06-29 00:05:47,326:INFO:SMOTE: Running sampling via ('SMOTE', "{'proportion': 0.5, 'n_neighbors': 7, 'n_jobs': 1, 'random_state': None}")
2021-06-29 00:05:47,390:INFO:MSMOTE: Running sampling via ('MSMOTE', "{'proportion': 0.5, 'n_neighbors': 7, 'n_jobs': 1, 'random_state': None}")
2021-06-29 00:05:47,479:INFO:ROSE: Running sampling via ('ROSE', "{'proportion': 0.5, 'random_state': None}")
2021-06-29 00:05:47,554:INFO:SMOTE: Running sampling via ('SMOTE', "{'proportion': 0.5, 'n_neighbors': 7, 'n_jobs': 1, 'random_state': None}")
2021-06-29 00:05:47,617:INFO:MSMOTE: Running sampling via ('MSMOTE', "{'proportion': 0.5, 'n_neighbors': 7, 'n_jobs': 1, 'random_state': None}")
2021-06-29 00:05:47,702:INFO:ROSE: Running sampling via ('ROSE', "{'proportion': 0.5, 'random_state': None}")

 7 datasets are loaded.
Dimension:
train2 x: (3132, 11)
test2 x: (1044, 11)

### AdaBoost classifier

In [5]:
trainset_x, trainset_y = train_set(data_dict, num_set = 7, label = 'age')
test_x, test_y = label_divide(test2, None, 'age', train_only = True)
table_set = runall_AdaBoostC(7, trainset_x, test_x, trainset_y, test_y, record_bad = False)

line_chart(table_set, title = 'AdaBoost Classifier')
table_set

Labels of  7 datasets are divided.

 Dataset 0:
Precision: 0.8
Recall: 0.5454545454545454
Aging Rate: 0.07183908045977011

 Dataset 1:
Precision: 0.572289156626506
Recall: 0.8636363636363636
Aging Rate: 0.15900383141762453

 Dataset 2:
Precision: 0.573170731707317
Recall: 0.8545454545454545
Aging Rate: 0.15708812260536398

 Dataset 3:
Precision: 0.7941176470588235
Recall: 0.4909090909090909
Aging Rate: 0.06513409961685823

 Dataset 4:
Precision: 0.49261083743842365
Recall: 0.9090909090909091
Aging Rate: 0.19444444444444445

 Dataset 5:
Precision: 0.5210526315789473
Recall: 0.9
Aging Rate: 0.18199233716475097

 Dataset 6:
Precision: 0.6407766990291263
Recall: 0.6
Aging Rate: 0.09865900383141762

,Balance Ratio,Train_OK,Train_NG,TP,FP,FN,TN,Precision,Recall,Aging Rate,Efficiency
dataset 0,8.266272,2794.0,338.0,60.0,15.0,50.0,919.0,0.800000,0.545455,0.071839,7.592727
dataset 1,1.784163,2794.0,1566.0,95.0,71.0,15.0,863.0,0.572289,0.863636,0.159004,5.431544
dataset 2,1.784163,2794.0,1566.0,94.0,70.0,16.0,864.0,0.573171,0.854545,0.157088,5.439911
dataset 3,1.784163,2794.0,1566.0,54.0,14.0,56.0,920.0,0.794118,0.490909,0.065134,7.536898
dataset 4,1.000000,1566.0,1566.0,100.0,103.0,10.0,831.0,0.492611,0.909091,0.194444,4.675325
dataset 5,1.000000,1566.0,1566.0,99.0,91.0,11.0,843.0,0.521053,0.900000,0.181992,4.945263
dataset 6,1.000000,1566.0,1566.0,66.0,37.0,44.0,897.0,0.640777,0.600000,0.098659,6.081553